// $accent-color: #2B6373;

%p-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

%p-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

%p-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

%p-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

%p-100 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
